<head>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Vidaloka" rel="stylesheet">
  <style type="text/css">
    body {
    background-image: url("./images/2783.jpg");
    background-size: cover;
    }

    .container2 {
        position: block; 
    }
  </style>
</head>

<body>
    <div class = "container2">
        <h1>Member Homepage</h1>
        <p>Welcome to your exclusive website. 
        <br />
        Post images, videos, comments or info <br />
        about your favorite designers and the new fashion collections. 
        </p>
    </div>
</body>

